:root {
    --primary: #2980b9;
    --b1: #EF629F;
    --b2: #EECDA3;  
}

body{
    font-family:'Roboto', sans-serif;
    background: var(--b2);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--b1), var(--b2));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--b1), var(--b2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
}

h1{
    background: var(--primary);
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

input[type=text]{
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: var(--primary);
    border: 3px solid rgba(0,0,0,0);
    display: none;
}

input:focus{
    background: white;
    border: 3px solid var(--primary);
    outline: none;
}

li{
    background: white;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n){
    background-color: #f7f7f7;
}

li:hover .delete{
    width: 40px;
    opacity: 1;;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#container{
    box-shadow: 0 0 3px rgba(0,0,0,);
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
}

#settings{
    display: none;
}

.checked{
    text-decoration: line-through;
    color: grey;
}

.delete{
    background-color: #e74c3c;
    height: 40px;
    margin: 0 20px 0 0;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

.fa-plus{
    float: right;
}
.fa-minus{
    float: right;
}

.fa-cog{
    width: 64px;
    margin: 0 calc(50% - 32px);
}

.fa-save{
    width: 32px;
    margin: 0 calc(50% - 16px);
}

.setting{
    width: 233px;
    margin: 20px auto;
}

.setting label{
    margin-right: 20px;
    text-align: left;
}

.setting input{
    float: right;
}

